@page "/vehicles/view/{id:int}"
@inject HttpClient _client

<h3>Edit</h3>
<FormComponent Disabled="true" Order="order" />

@code {
    [Parameter] public int id { get; set; }
    Order order = new Order();


    //protected async override Task OnParametersSetAsync()
    //{
        //order = await _client.GetDetails(EndPoints.VehiclesEndPoint, id);
   // }
}
