@page "/platforms/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent Platform="platform" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Platform platform = new Platform();
    protected async override Task OnParametersSetAsync()
    {
        platform = await _client.GetFromJsonAsync<Platform>($"{Endpoints.PlatformsEndPoint}/{id}");
    }
}
